-# coding: utf-8
%h1 Everything You Want to Know

%h2 About Me
%p
  :markdown
    My name is Greg Beech. I spent the last couple of years as Head of Platform Development at [blinkbox books](https://www.blinkboxbooks.com/). Before that I spent 5 years or so working as a dev lead at [blinkbox movies](http://www.blinkbox.com/) and before that did a few years consulting including a stint at Microsoft. If you want more detail than that, check out [my CV](/cv).

    In my spare time I'm a keen biker and member of [London Advanced Motorcyclists](http://www.l-a-m.org/), and can often be found out on one of my growing number of motorbikes.

%h2 About this Site
%p 
  :markdown
    This site was written in a couple of days, partly as a project to learn some Ruby, and partly because I couldn't find any software that I was happy with which let me write blog posts in Markdown and publish them using `git push` (yeah, I've since discovered [jekyll](http://jekyllrb.com/)). It's hosted on [Heroku](http://www.heroku.com), and the (very basic) code is [available on Github](https://github.com/gregbeech/website).

    All views expressed on this site are my own, and do not reflect the thoughts, intentions, plans or strategies of my current or former employers. They might not even reflect my own views any more, as they do change over time.