-# coding: utf-8
%h1 Everything You Wanted to Know

%h2 About Me
%p
  :markdown
    My name is Greg Beech. I'm the Head of Core Platform Development at [blinkbox books](http://www.blinkboxbooks.com/), the soon-to-be-launched eBook service. Before that I spent 5 years or so working as a dev lead at [blinkbox movies](http://www.blinkbox.com/) on a variety of things including the core platform, video encoding, web APIs and client libraries. If you want more detail than that, check out [my CV](/cv).

    In my spare time I'm a keen biker and member of the IAM, and can often be found out on my ZZR1400 if the weather's nice (yeah, yeah, I'm generally a fair weather rider) with my girlfriend on the back. I also try my hand at boxing - not that you'd know it as I manage to balance any potential weight loss by eating too much.

%h2 About this Site
%p 
  :markdown
    This site was written in a couple of days, partly as a project to learn some Ruby, and partly because I couldn't find any software that I was happy with which let me write blog posts in Markdown and publish them using `git push`. It's hosted on [Heroku](http://www.heroku.com), and the (very basic) code is [available on Github](https://github.com/gregbeech/website). Feel free to send me a pull request if you want to improve it.

    All views expressed on this site are my own, and do not reflect the thoughts, intentions, plans or strategies of my current or former employers. They might not even reflect my own views any more, as they do change over time.