-# coding: utf-8
%h1 Get In Touch

%h2 Email
%p
  :kramdown
    You can mail me using my first name @gregbee.ch. Recruiters please note that I'm not looking for a job and I won't give you information about anybody I work with, so contacting me about these things is a waste of both our time.

%h2 Social
%p
  :kramdown
    If you already know me, you can add me on [Facebook](http://www.facebook.com/gregbeech) or [LinkedIn](http://www.linkedin.com/in/gregbeech). Recruiters, the drill's the same as email here... don't bother; I'll let you know if and when I'm looking for a new job.

    You can also follow me on [Twitter](http://twitter.com/gregbeech) though I rarely post as I still haven't quite worked out the point. But you can follow me in anticipation of a moment of enlightenment.

%h2 Developer
%p
  :kramdown
    I've got a couple of projects on [GitHub](https://github.com/gregbeech) which you're more than welcome to use, contribute to, raise bugs against, and so on.

    I'm also on [Stack Overflow](http://stackoverflow.com/users/13552/greg-beech) and used to post quite a lot, although lately I haven't much because the noise-to-signal ratio has become virtually intolerable. Still, you might find some gems there.