-# coding: utf-8
!!!
%html
  %head
    %title #{title} - gregbee.ch
    %link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" )
    %link(rel="stylesheet" href="/css/styles.css")
    %link(rel="stylesheet" href="/css/coderay.css")
    %link(rel="shortcut icon" href="favicon.ico")
    %link(rel="openid.server" href="http://www.myopenid.com/server")
    %link(rel="openid.delegate" href="http://greg.beech.myopenid.com/")
  %body
    #wrapper
      %header
        %nav
          %ul
            - area = (area rescue nil)
            %li.home
              %a gregbee.ch
            %li{ class: (area == 'Blog' ? 'current' : nil) } 
              %a{ href: '/blog' } /blog
            %li{ class: (area == 'CV' ? 'current' : nil) } 
              %a{ href: '/cv' } /cv
            %li{ class: (area == 'About' ? 'current' : nil) } 
              %a{ href: '/about' } /about
            %li{ class: (area == 'Contact' ? 'current' : nil) } 
              %a{ href: '/contact' } /contact
      %section#content
        =yield
      %footer
        %p
          Site and content Copyright (C) Greg Beech 2006-#{Time.now.year}. All rights reserved.
        %p
          Source code listings and downloads on this site may be used under the Creative Commons Zero (CC0) license unless otherwise stated.
    %a.github{ href: 'https://github.com/gregbeech' }
      %img{ src: 'https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png', alt: 'Fork me on GitHub' }
    %script(type="text/javascript")
      :plain
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script(type="text/javascript")
      :plain
        try {
            var pageTracker = _gat._getTracker("UA-2846108-1");
            pageTracker._trackPageview();
        } catch (err) { }
