@bgcolor: #444;
@textcolor: rgb(221, 221, 221);
@bordercolor: #cdcdcd;
@stdspace: 24px;
@accentcolor: rgb(105, 190, 40);

html 
{
  height: 100%;
  background-color: #333;
}

body
{
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  height: 100%; 
  margin: 0;
  border-top: 6px solid @accentcolor;
  color: @textcolor;
  text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 3px;;
}

#wrapper
{ 
  width: 880px;
  margin: 0 auto;
  height: 100%;
  text-align: left;
}

#content
{
  background-color: @bgcolor;
  padding: @stdspace;
  margin-top: (@stdspace / 2);
  font-size: 110%;
  line-height: 130%;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 20px 0px;
  border-radius: 20px;
}

nav
{
  background-color: #333;
  ul
  {
    list-style-type: none;
    font-weight: bold;
    margin: @stdspace 0;
    padding: 0;
    li 
    {
      display: inline-block;
      font-size: 28px;
      border-radius: 6px;
      a
      {
        display: block;
        padding: (@stdspace / 3) @stdspace;
        text-decoration: none;
        color: @accentcolor;
      }
    }
    li:hover
    {
      background-color: #444;
      border: 0;
      box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 10px 0px inset, rgba(255, 255, 255, 0.0980392) 0px 1px 0px 0px, rgba(0, 0, 0, 0.498039) 0px 0px 0px 0px;
    }
    li.home:hover
    {
      background-color: #333;
      box-shadow: none;
    }
    li.current
    {
      background-color: @accentcolor;
      box-shadow: none;
      a
      {
        color: #333;
      }
    }
  }
}

h1, h2, h3, h4
{
  color: @accentcolor;
}
h1
{
  text-align: center;
  font-size: 28px;
  margin-top: 0;
}
h2
{
  font-size: 28px;
}
h3
{
  font-size: 21px;
}
p,
li
{
  font-size: 21px;
  line-height: 31.5px;
}

article .pubdate
{
  display: block;
  text-align: right;
  font-weight: bold;
  margin-bottom: @stdspace;
  .updated
  {
    color: #ababab;
  }
}

pre
{
  margin: @stdspace 0;
  border: 1px solid #333333;
  border-radius: 6px;
  background-color: #333333;
  padding: (@stdspace / 2);
  line-height: 140%;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 10px 0px inset, rgba(255, 255, 255, 0.0980392) 0px 1px 0px 0px, rgba(0, 0, 0, 0.498039) 0px 0px 0px 0px;
  text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 3px;
}

.notice
{
  margin: @stdspace 0;
  border: 1px solid #333333;
  border-radius: 6px;
  color: @accentcolor;
  background-color: #333333;
  padding: (@stdspace / 2);
  font-style: italic;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 10px 0px inset, rgba(255, 255, 255, 0.0980392) 0px 1px 0px 0px, rgba(0, 0, 0, 0.498039) 0px 0px 0px 0px;
  text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 3px;
}


div.code pre,
code
{
  font-family: Menlo, Consolas, 'Lucida Console', 'Courier New', monospace;
  font-size: 18px;
  color: #aaa;
}
div.code pre
{
  font-size: 14px;
  color: @textcolor;
}
h1 code,
h2 code,
h3 code,
h4 code
{
  color: @accentcolor;
}

blockquote
{
  margin-left: @stdspace;
  font-style: italic;
}

.hidden
{
  display: none;
}

ol.blogposts
{
  list-style-type: none;
  padding-left: 0;
  .pubdate
  {
    color: gray;
  }
}

a,
a code
{
  color: @accentcolor;
}
#content a:visited
{
  color: #4b881d;
}

.center 
{
  text-align: center;
}

#disqus_thread
{
  margin-top: (@stdspace * 3);
}

.warn
{
  font-weight: bold;
  color: #F92672;
}

footer
{
  background-color: #333;
  margin-top: @stdspace * 2;
  padding-bottom: (@stdspace / 2);
  p 
  {
    font-size: 13px;
    line-height: 10px;
    text-align: center;
    color: #787878;
  }
}

a.github img
{
  position: absolute; 
  top: 0; 
  right: 0; 
  border: 0;
}

