-# coding: utf-8
%h1 Musings, Rants and Other Stuff

%p
  :markdown
    Subscribe to the [RSS feed](/blog/rss) to get notified when new content is available.

%ol.blogposts
  -posts.each do |post|
    %li
      -if post[:title].start_with?("**")
        %span.warn
          #{post[:title][/(?<=\*\*)(.+)(?=\*\*)/]}:
      %a{ href: post[:link] }
        #{post[:title].gsub(/\*\*(.+)\*\*/, "")}
      %span.pubdate, #{post[:date].strftime('%-d %b %Y')}