-# coding: utf-8
%h1 Musings, Rants and Other Stuff

%p
  :markdown
    Subscribe to the [RSS feed](/blog/rss) to get notified when new content is available.

%ol.blogposts
  -posts.each do |post|
    %li
      %a{ href: post[:link] }
        & #{post[:title]}
      %span.pubdate, #{post[:date].strftime('%-d %b %Y')}